.shop_back_container {
  background-image: url("/pics/shop-back.jpg");
}

.shop-table {
  background-color: transparent;
  width: 100%;
}

.shop-table td,
th {
  border: 1px solid white;
  line-height: normal;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
}

.shop-table th:first-child {
  width: 30%;
}

.shop-table th:nth-child(2) {
  width: 25%;
}

.shop-table th:nth-child(3) {
  width: 10%;
}

.shop-table th:nth-child(4) {
  width: 10%;
}
.shop-table th:nth-child(5) {
  width: 25%;
}
