/* .back {
  background-image: url("/back.jpg");
  background-repeat: repeat;
  height: 100vh;
}

.fontset {
  font-family: Verdana;
}
.input_form {
  width: 100%;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: black;
  padding-inline: 5px;
}
.submit_form {
  background-image: url("/imgs/gun.jpg");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
} */

.signup_container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/pictures/sign_up/signup_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
}
.signup_height {
  min-height: calc(100vh - 50px);
}
.gradient_button {
  background-image: linear-gradient(0deg, #323320 0%, #1b1b13 100%);
}

.gradient_button:hover {
  background-image: linear-gradient(0deg, #323320 0%, #1b1b13 0%);

}
.mark_svg {
  filter: drop-shadow(2px 4px 6px black);
}
