.menu-container {
  min-height: 530px;
  width: 166px;
  vertical-align: top;
  background-color: black;
  display: flex;
  flex-direction: column;
  background-image: url("/back_cam.gif");
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-item {
  font-family: Verdana;
  font-size: 15px;
  color: #ffff00;
  font-weight: bold;
  line-height: 16px;
  margin-left: 0.25rem;
  line-height: 18px;
}

.sub-menu {
  font-family: Verdana;
  font-size: 12px;
  color: #ffffff;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.link {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  line-height: 18px;
}

.link:hover {
  color: #ffff00;
  font-weight: bold;
}
