@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  display: block;
  border-right-style: solid;
  height: revert-layer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
tr {
  border: none;
  padding: 0;
  line-height: 0;
}

div.desc {
  color: #81843c;
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

td.password {
  font-size: 13px;
}

div.desc.error {
  color: red;
}

button {
  background-color: silver;
  border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  background-color: #4b9c2c; /* Tooltip background color */
  color: #ffffff; /* Tooltip text color */
  padding: 5px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevent text wrapping */
  z-index: 1000; /* Ensure it appears above other elements */
}

[data-title] {
  position: relative; /* Position relative to allow absolute positioning of tooltip */
}

[data-title]:hover::after {
  visibility: visible;
  opacity: 1;
}

[data-title]::after {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s; /* Smooth transition for showing/hiding */
}

input {
  outline: none;
}

select {
  outline: none;
}
