.sign_container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/sigin_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sign_height {
  min-height: calc(100vh - 50px);
}