.sign_container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
}
.sign_height {
  min-height: calc(100vh - 50px);
}
.gradient_button {
  background-image: linear-gradient(0deg, #323320 0%, #4c4d28 100%);
}

.gradient_button:hover {
  background-image: linear-gradient(0deg, #323320 0%, #4c4d28 0%);
}
.mark_svg {
  filter: drop-shadow(2px 4px 6px black);
}
