.sign_container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/sigin_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sign_height {
  min-height: calc(100vh - 50px);
}
.gradient_button {
  background-image: linear-gradient(0deg, #323320 0%, #4C4D28 100%);
}